<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
      }

      h1 {
        margin-top: 0;
      }

      button {
        padding: 10px 20px;
        font-size: 16px;
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Home Page</h1>
    <button onclick="viewAllUsers()">View all Users</button>
    <button onclick="viewTransferTable()">View Transfer Table</button>

    <script>
      function viewAllUsers() {
        window.location.href = `http://bank-grip.us-east-1.elasticbeanstalk.com/Customers`;
      }

      function viewTransferTable() {
        window.location.href = `http://bank-grip.us-east-1.elasticbeanstalk.com/table`;
      }
    </script>
  </body>
</html>
