<!-- users.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <title>Customer List</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
        background-color: #f5f5f5;
      }

      h1 {
        color: #333;
      }
      .header {
        background-color: #333;
        padding: 10px;
        display: flex;
        justify-content: flex-end;
      }

      .header a {
        color: #fff;
        text-decoration: none;
        margin-right: 10px;
        border: 1px solid #fff;
        padding: 5px 10px;
      }

      ul {
        list-style: none;
        padding: 0;
      }

      li {
        background-color: #fff;
        border-radius: 4px;
        padding: 10px;
        margin-bottom: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        cursor: pointer;
      }
      li:hover {
        background-color: #f5f5f5;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <a href="http://bank-grip.us-east-1.elasticbeanstalk.com/">Home</a>
      <a href="http://bank-grip.us-east-1.elasticbeanstalk.com/table"
        >TransferHistory</a
      >
    </div>
    <h1>Customers List</h1>
    <ul id="user-list"></ul>

    <script>
      // Fetch users from the backend API
      fetch("/Users")
        .then((response) => response.json())
        .then((data) => {
          const users = data.users;
          renderUsers(users);
        })
        .catch((error) => console.log("Error:", error));

      // Function to render users on the page
      function renderUsers(users) {
        const userList = document.getElementById("user-list");
        users.forEach((user) => {
          const listItem = document.createElement("li");
          listItem.innerText = user.Name;
          listItem.addEventListener("click", () => {
            const person = users.find((obj) => obj.Name === user.Name);
            console.log(person);
            window.location.href = `http://bank-grip.us-east-1.elasticbeanstalk.com/User/${person._id}`;
          });
          userList.appendChild(listItem);
        });
      }
    </script>
  </body>
</html>
